<% provide(:title, "INFO")%>
<h1>関連ニュース</h1>

<div class="btn-articles-new">
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "新規登録", new_user_article_url, class: "btn btn-primary" %>
  <% end %>
</div>

<body>
  <div class="wrapper">
    <ul class="tab">
      <li><a href="#dog">拠点情報</a></li>
      <li><a href="#cat">リーダー引継ぎ</a></li>
      <li><a href="#bear"><%= Category.find(1).name %></a></li>
    </ul>

      <div id="dog" class="area">
        <h2>拠点情報</h2>
        <ul>
          <% @articles.each do |t| %>
            <% if t.news_id == "拠点情報" %> 
              <div class="tweet">
                <li><%= t.body %><br><%= t.created_at %></li>
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div id="cat" class="area">
        <h2>リーダー引継ぎ</h2>
        <ul>
          <% @articles.each do |t| %>
            <% if t.news_id == "リーダー引継ぎ" %> 
              <div class="tweet">
                <li><%= t.body %><br><%= t.created_at %></li>
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div id="bear" class="area">
        
<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover id="table-articles">
    <thead>
      <tr>
        <th class="center">掲載日時</th>
        <th class="left">連絡内容</th>
      </tr>
    </thead>
    
    <% @artciles_latest3.each do |article| %>
      <tr>
        <td class="center"><%= l(article.created_at, format: :long) %></td>
        <td class="left">
          <%= simple_format(article.memo) %>
        </td>
        <td class="center">
            <% if user_signed_in? && current_user.admin? %>
                <%= link_to "編集", edit_news_info_user_article_path(@user, article.id), remote: true, class: "btn btn-success" %>
                <%= link_to "削除",  user_article_path(@user, article.id), method: :delete,
                    data: { confirm: "削除してよろしいですか？" }, 
                    class: "btn btn-danger" %>
                <% end %>
        </td>
      </tr>
    <% end %>
    </table>
</div>

        <ul>
          <% @articles.each do |t| %>
            <% if t.news_id == "営業周知" %> 
              <div class="tweet">
                <li><%= t.body %><br><%= t.created_at %></li>
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
  </div>
</body>


<script>
  function GethashID (hashIDName){
    if(hashIDName){
      $('.tab li').find('a').each(function() {
        var idName = $(this).attr('href');
        if(idName == hashIDName){ 
          var parentElm = $(this).parent();
          $('.tab li').removeClass("active");
          $(parentElm).addClass("active");
          $(".area").removeClass("is-active");
          $(hashIDName).addClass("is-active"); 
        }
      });
    }
  }

  $('.tab a').on('click', function() {
    var idName = $(this).attr('href');
    GethashID (idName);
    return false;
  });

  $(window).on('load', function () {
      $('.tab li:first-of-type').addClass("active");
      $('.area:first-of-type').addClass("is-active");
    var hashName = location.hash;
    GethashID (hashName);
  });
</script>




<div id="edit-news-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<%#= render partial: 'shared/article', collection: @artciles_latest3 %>

