<% provide(:title, 'All Spots') %>


<% if params[:search] %>
  <h1>検索結果</h1>
<% else %>
  <h1>拠点一覧</h1>
<% end %>

<div class="row container">
  <div class="col-md-10 col-md-offset-8">
  <p>拠点検索</p>
  <%= form_with url: user_reservations_path(@user), method: :get, local: true do |f| %>
    <%= f.text_field :search %>
    <%= f.submit '検索', name: nil, class: "btn btn-sm btn-primary" %>
  <% end %>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-spots">
    <thead>
      <th><%= Reservation.human_attribute_name :name %></th>
      <th class="center"><%= Reservation.human_attribute_name :reserved %></th>
      
    </thead>
    
    <% @reservations.each do |reservation| %>
    <tr>
      <td>
        <%= link_to reservation.name, user_reservation_path(current_user, reservation) %>
      </td>
      <td class="center"><%= reservation.reserved %></td>
    </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>