<% provide(:title, @reservation.name) %>

<div class="btn-reservations-show">
  <%= link_to "←前月へ", user_reservation_path(date: @first_day.prev_month), class: "btn btn-info" %>
  <%= link_to "次月へ→", user_reservation_path(date: @first_day.next_month), class: "btn btn-info" %>
</div>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-reservations">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        
        <th>営業切替</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.select(:worked_on).distinct.each do |day| %>
          <td><%= link_to l(day.worked_on, format: :short), new_user_attendance_path(params[:user_id], params[:id], day.worked_on) %></td>
          <td><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td><%= link_to "登録", "#", method: :patch, class: "btn btn-primary btn-reservation" %></td>
          <td><%#= day.note %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>