<% provide(:title, @reservation.date) %>

<h1>新規予約</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @attendance, url: edit_user_attendance_path, local: true) do |f| %>
      <%= render 'shared/error_messages', object: @attendance %>
        <%= f.label :worked_on, class: "label-new-appointment" %>
        <%= f.text_field :worked_on, disabled: true, value: params[:date], class: "form-control" %>
        <%= f.label :started_at %>
        <%= f.time_select :str_time, { include_blank: true, minute_step: 30, start_hour: 9, end_hour: 18}, class: "form-control" %>
    <% end %>
    
  </div>
</div>