<% provide(:title, @reservation.date) %>

<h1>新規予約</h1>
<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <p><%= "拠点名：#{@reservation.name}" %></p>
      
      <% if @reservation.day.include?($days_of_the_week[params[:format].to_date.wday]) %>
        <%= form_with(model: @attendance, url: user_attendances_path(@user,@reservation), local: true) do |f| %>
        <%= render 'shared/error_messages', object: @attendance %>
          
          <div class="form-inline">
            <div class="form-group">
              <%= f.label :worked_on, class: "label-new-appointment" %>
              <%= f.text_field :worked_on, disabled: true, value: params[:format], class: "form-control" %>
            </div>
  
              <%= f.hidden_field :worked_on, value: params[:format] %>
              <%= f.hidden_field :reservation_id, value: params[:id] %>
              <%= f.hidden_field :user_id, value: params[:user_id] %>
              <%= f.hidden_field :build_name, value: @reservation.name %>
            
            <div class="form-group">
              <%= f.label :started_at %>
              <%= f.time_select :started_at, { include_blank: true, minute_step: 30, start_hour: @reservation.str_time.hour, end_hour: @reservation.fin_time.hour-1}, class: "form-control" %>
            </div>
          </div>
          
          <div class="form-group">
            <%= f.label :name, class: "label-new-appointment" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :tel, class: "label-new-appointment" %>
            <%= f.text_field :tel, class: "form-control" %>
          </div>
  
          <div class="form-group">
            <%= f.label :note, class: "label-new-appointment" %>
            <%= f.text_field :note, class: "form-control" %>
          </div>
  
          <%= f.submit "実行", class: "btn btn-primary btn-block btn-new-appointment" %>
              
        <% end %>
      <% else %>
        <h2 class="p-3 mb-2 bg-danger text-white">予約受付不可</h2>
      <% end %>  
    </div>
  </div>
</div>
<h1>ご予約済一覧</h1>
<div class="col-md-10 col-md-offset-1">
  <table class="table table-bordered table-condensed table-hover" id="table-reservations">
    <thead>
      <tr>
        <th>日付</th>
        <th>時刻</th>
        <th>名前</th>
        <th>電話番号</th>
        <th>備考</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @seated = Attendance.where(worked_on: params[:format], build_name: @reservation.name).where.not(note: nil).order(:started_at) %>
      <% @seated.each do |list| %>
          <td><%= l(list.worked_on, format: :short) %></td>
          <td><%= l(list.started_at, format: :time) %></td>
          <td><%= list.name %></td>
          <td><%= list.tel %></td>
          <td><%= list.note %></td>
          <td class="center"><%= link_to "編集", user_attendance_edit_order_info_path(@user, @reservation, list.id), remote: true, class: "btn btn-success" %></td>
          <td class="center"><%= link_to "削除", user_attendance_path(@user, @reservation, list.id), method: :delete,
                                 data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="edit-order-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>